body {
    background-color:black;
}
.button1 {
    width:250px;
    height:200px;
    border-radius:100%;
    border:2px solid black;
    margin-top:200px;
    margin-left:600px;
    font-size:45px;
    border: 1px dashed blue;
    color:blue;
    background-color:black;
    box-shadow: 1px 1px 3px red, -1px -1px 3px blue;
    
}
.button2, .button3 {
    width:150px;
    height:35px;
    position:relative;
    top:100px;
    top:100px;
    border-radius:10px;
    border:none;
    background-color:blue;
    color:white;
    transition:width 0.5s, height 0.5s;
}
.button2:hover, .button3:hover, .reset:hover {
    width:170px;
    height:38px;
    opacity:0.7;
}
.button2:active, .button3:active, .reset:active {
    opacity:0.6;
}
.button2 {
    right:400px;
    
}
.button3 {
    right:140px;
}
.reset {
    width:150px;
    height:35px;
    position:relative;
    border-radius:10px;
    background-color:blue;
    color:white;
    transition:width 0.5s, height 0.5s;
    border:none;
    top:180px;
    right:510px;
}
